[user]
    name = Alexander Voronin
    email = 
[alias]
    bl = blame
    br = branch -vv
    cfg = config --global
    cfl = config --local
    ci = commit
    cl = clean -df
    co = checkout
    cp = cherry-pick
    di = diff
    ds = diff --staged
    fe = fetch
    ll =
    ls =  
    nb = checkout -b
    prb = pull --rebase
    sh = stash
    st = status
    rb = rebase
    re = remote -v
    rs = reset
    ll = "!f() { git log --format='%Cred%ci%Creset | %Cgreen%>(8,ltrunc)%h%Creset | %Cblue%>(20,ltrunc)%cn%Creset | %C(yellow)%s%Creset' $@; }; f"
    ls = "!f() { git log --format='%Cred%ci%Creset | %Cgreen%>(8,ltrunc)%h%Creset | %Cblue%>(20,ltrunc)%cn%Creset | %C(yellow)%<(80,trunc)%s%Creset' $@ | head; }; f"
    rb = rebase
    re = remote -v
    rs = reset
[core]
    mergeoptions = --no-ff --no-commit
    editor = vim
    whitespace = blank-at-eol,space-before-tab,tab-in-indent
[log]
    abbrevcommit = false
[color]
    branch = true
    diff = true
    status = true
    ui = true
[color "diff"]
    old = red
    new = green
    frag = magenta
    meta = yellow
    whitespace = blue
[diff]
    wsErrorHighlight = all
[merge]
    log = true
    summary = true
    verbosity = 1
